/*
** ** ============
** ** * SASS VARIABLES *
** ** ============
*/

$colorThemePrimary: #2d3748;
$colorThemeSecondary: #241f46;
$colorThemeTertiary: #a6fff2;

$colorBlack: #000;
$colorWhite: #fdfdfd;

$colorGray: #eaeaea;
$colorGrayLight: rgb(128, 130, 130);
$colorGrayDark: rgba(192, 202, 202, 1);

$colorNotice: #ffd615;
$colorInfo: #00d1ff;
$colorDanger: '';