/*
** ** ============
** ** * SASS VARIABLES *
** ** ============
*/

$colorThemePrimary: #00e0ff;
$colorThemeSecondary: #74f9ff;
$colorThemeTertiary: #a6fff2;

$colorBlack: #000;
$colorWhite: #fdfdfd;

$colorGray: rgb(239, 239, 243);
$colorGrayLight: rgb(128, 130, 130);
$colorGrayDark: rgba(192, 202, 202, 1);

$colorNotice: #ffd615;
$colorInfo: #00d1ff;
$colorDanger: '';