/*
** **
** ** * Forum Table Header
** ** 
*/
.bbp-header{
    padding: 0 !important;
}

/*
** **
** ** * Forum Table Footer
** ** 
*/
.bbp-footer{
    display: none;
}

/*
** **
** ** * Forum Table Titles
** ** 
*/
.forum-titles{
    background-color: $colorThemePrimary !important;        
    color: $colorWhite;
    font-size: 2rem;
    font-weight: 600;
    li{
        padding: 3rem !important;
    }
}


.bbp-pagination{
    font-size: 1.6rem !important;
    padding-left: 2.5rem;
    background-color: $colorThemePrimary;
    color: $colorWhite;
    padding: 2rem 2.5rem;  
    margin-bottom: 0;  
}